
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div id="form-container">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Book Bus Tickets Online</legend>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">From</label>
                                    <div class="input-group">
                                        <input type="text" ng-model="criteria.FromCity" typeahead="city as city.name for city in cities | filter:$viewValue | limitTo:10" class="form-control" placeholder="Enter a city">
                                        <span class="input-group-btn">
                                            <label class="btn btn-default form-control" for="toCity">
                                                <i class="glyphicon glyphicon-list"></i>
                                            </label>
                                        </span>
                                    </div>
                                    <!--<div class="input-group">
                                        <input type="text" ng-model="criteria.selectedFrom" typeahead="city as city.name for city in cities | filter:$viewValue | limitTo:8" class="form-control" placeholder="Enter a city">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                                    </div>-->
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">To</label>
                                    <div class="input-group">
                                        <input id="toCity" type="text" ng-model="criteria.ToCity" typeahead="city as city.name for city in cities | filter:$viewValue | limitTo:8" class="form-control" placeholder="Enter a city">
                                        <span class="input-group-btn">
                                            <label class="btn btn-default form-control" for="toCity">
                                                <i class="glyphicon glyphicon-list"></i>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Date of Journey</label>
                                    <div class="input-group">
                                        <input id="departDate" type="text" class="form-control" ng-model="criteria.DepartDate" data-date-format="dd-MMM-yyyy" data-date-type="string" data-min-date="today" data-max-date="{{criteria.DepartDate}}" placeholder="dd-MMM-yyyy" bs-datepicker>
                                        <span class="input-group-btn">
                                            <label class="btn btn-default form-control" for="departDate">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Date of Return (Optional)</label>                                    
                                    <div class="input-group">
                                        <input id="returnDate" type="text" class="form-control" ng-model="criteria.ReturnDate" data-date-format="dd-MMM-yyyy" data-date-type="string" data-min-date="{{criteria.ReturnDate}}" placeholder="dd-MMM-yyyy" bs-datepicker>
                                        <span class="input-group-btn">
                                            <label class="btn btn-default form-control" for="returnDate">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6 col-xs-offset-3">
                                <a href="#/bus/select" class="btn btn-block btn-info">
                                    Search Buses <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<pre>
                {{ criteria }}
              </pre>