<label>What's Your Console of Choice?</label>
<table class="table table-bordered">
    
    <tr ng-repeat="bus in buses">
        <td class="tdCenter"><p><span class="glyphicons glyphicon-bus"></span></p><img ng-src="" alt="{{bus.busName}}" /></td /></td>
        <td>
            <a href="#/products/{{bus.busRouteId}}"><b>{{bus.busName}}</b></a><br />
            {{bus.busName}}
        </td>
        
        <td class="tdCenter">
            <a href="">
                add to cart
            </a>
        </td>
    </tr>
    
</table>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="bus.payment" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>