
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div id="form-container">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Book Bus Tickets Online</legend>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">From</label>
                                    <div class="input-group">
                                        <input type="text" ng-model="formData.selectedFrom" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control" placeholder="Enter a city">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">To</label>
                                    <div class="input-group">
                                        <input type="text" ng-model="formData.selectedTo" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control" placeholder="Enter a city">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Date of Journey</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="fromDate" data-date-format="dd-MMM-yyyy" data-date-type="number" data-min-date="today" data-max-date="{{untilDate}}" placeholder="dd-MMM-yyyy" bs-datepicker>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Date of Return (Optional)</label>                                    
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="untilDate" data-date-format="dd-MMM-yyyy" data-date-type="number" data-min-date="{{fromDate}}" placeholder="dd-MMM-yyyy" bs-datepicker>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6 col-xs-offset-3">
                                <a ui-sref="bus.result" class="btn btn-block btn-info">
                                    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<pre>
                {{ formData }}
              </pre>